.menu {
  @include flex($items: flex-start);
  // padding-bottom: 380px;
  width: 100%;
  height: 100%;
  position: relative;

  .footer {
    position: absolute;
    width: 450px;
    bottom: 5px;
    // *,
    // *:visited,
    // *:link,
    // *:active,
    // *:hover {
    //   color: $text2-color;
    // }

    @include flex;
    gap: 5px;

    .action-button {
      width: 110px;
      height: 110px;

      @include active-transform;
      @include no-select;
      cursor: pointer;
      transition: background 0.2s;

      &.lb {
        background: url(/images/leaderboard-button.png);

        &:hover {
          background: url(/images/leaderboard-button-h.png);
        }
      }

      &.discord {
        background: url(/images/discord-button.png);

        &:hover {
          background: url(/images/discord-button-h.png);
        }
      }

      &.skin {
        background: url(/images/skin-button.png);
        @include flex;

        &:hover {
          background: url(/images/skin-button-h.png);
        }

        img {
          width: 78px;
        }
      }

      &.info {
        background: url(/images/info-button.png);

        &:hover {
          background: url(/images/info-button-h.png);
        }
      }
    }
  }

  .social {
    position: absolute;
    left: 10px;
    bottom: 10px;

    img {
      width: 200px;

      cursor: pointer;
      // border-radius: calc($size / 2);
      filter: drop-shadow(2px 1px rgb(39, 39, 39));
      transition: color 0.15s ease-in-out, background 0.15s ease-in-out,
        border 0.15s ease-in-out, transform 0.05s;
      @include active-transform;
    }
  }
}
