.custom.solid-select-container {
  color: #606060;
  background-color: transparent;
  cursor: pointer;
}
.custom .solid-select-control {
  border: none;
  outline: none;
  height: calc(4rem - 0.5rem);
  text-align: center;
  font-size: 1.25rem;
  padding: calc((4rem - 0.5rem - 1.88rem) / 2);
  vertical-align: middle;
  cursor: pointer;
}
.custom .solid-select-placeholder {
  color: #606060;
  vertical-align: middle;
  cursor: pointer;
}
.custom .solid-select-option:hover {
  background-color: #252525;
  color: #fff;
  cursor: pointer;
}
.custom .solid-select-option[data-focused="true"] {
  background-color: #606060;
  color: #fff;
  cursor: pointer;
}
