.menu-center {
  width: 400px;

  @include flex($dir: column);
  .nickname {
    background-image: url("images/nickname-banner.png");
    width: 400px;
    height: 256px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 12px 16px;
    @include flex;

    input {
      flex: 1;
      margin-top: 65px;
      height: 40px;
      background: transparent;
      outline: none;
      border: none;
      text-align: center;
      color: #252525;
      ::placeholder {
        color: #252525;
      }
      font-size: large;
    }
  }

  .buttons {
    width: 360px;
    @include flex;
    gap: 5px;
    .servers {
      flex: 1;
      cursor: pointer;
      background: rgba($color: #000000, $alpha: 0.8);
    }

    .play-button {
      @include style-button($size: 20px);
    }
  }
}

.custom.solid-select-container {
  color: #606060;
  background-color: transparent;
  cursor: pointer;
}
.custom .solid-select-control {
  border: none;
  outline: none;
  height: calc(4rem - 0.5rem);
  text-align: center;
  font-size: 1.25rem;
  padding: calc((4rem - 0.5rem - 1.88rem) / 2);
  vertical-align: middle;
  cursor: pointer;
}
.custom .solid-select-placeholder {
  color: #606060;
  vertical-align: middle;
  cursor: pointer;
}
.custom .solid-select-option:hover {
  background-color: #252525;
  color: #fff;
  cursor: pointer;
}
.custom .solid-select-option[data-focused="true"] {
  background-color: #606060;
  color: #fff;
  cursor: pointer;
}
