.menu-center {
  width: 400px;

  @include flex($dir: column, $content: flex-start);
  gap: 40px;

  .game-title {
    width: 652px;
    @include no-select;
  }

  .join-group {
    @include flex($dir: column);
    gap: 20px;

    .nickname {
      width: 482px;
      height: 115px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 12px 16px;
      @include flex;

      input {
        flex: 1;
        // margin-top: 65px;
        height: 40px;
        background: transparent;
        outline: none;
        border: none;
        text-align: center;
        color: white;
        ::placeholder {
          color: #252525;
        }
        font-size: xx-large;
      }
    }

    .buttons {
      @include flex;
      gap: 5px;
      @include no-select;

      .servers {
        width: 266px;
        height: 95px;
        cursor: pointer;
        background: url(/images/server-button.png);
        @include flex;
      }

      .play-button {
        width: 210px;
        height: 95px;
        cursor: pointer;
        transition: background 0.1s;
        background: url(/images/play-button.png);
        @include active-transform;

        &:hover {
          background: url(/images/play-button-h.png);
        }
      }
    }
  }
}

.custom.solid-select-container {
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}
.custom .solid-select-control {
  border: none;
  outline: none;
  height: calc(4rem - 0.5rem);
  text-align: center;
  font-size: 30px;
  // padding: calc((4rem - 0.5rem - 1.88rem) / 2);
  vertical-align: middle;
  cursor: pointer;
}
.custom .solid-select-placeholder {
  color: #606060;
  vertical-align: middle;
  cursor: pointer;
}
.custom .solid-select-option:hover {
  background-color: #252525;
  color: #fff;
  cursor: pointer;
}
.custom .solid-select-option[data-focused="true"] {
  background-color: #606060;
  color: #fff;
  cursor: pointer;
}
