.game-container {
  position: absolute;
  @include flex;

  &.back {
    z-index: -10;
  }
  #game-canvas {
    position: absolute;
  }

  .drop-item {
    position: absolute;
    border-radius: 15px;
    width: 500px;
    height: 320px;

    @include window-bg-colored;
    @include flex($dir: column);

    .description {
      font-size: xx-large;
      color: $text2-color;
    }

    .buttons {
      padding: 12px;
      @include flex;
      gap: 15px;
    }
  }

  .chat-input {
    position: absolute;
    border-radius: 5px;
    outline: none;
    top: 50px;
    border: none;
    font-size: 18px;
    padding: 4px;
    ::placeholder {
      color: silver;
    }
  }
}
