.game-container {
  position: absolute;
  @include flex;

  &.back {
    z-index: -10;
  }
  #game-canvas {
    position: absolute;
  }

  .chat-input {
    position: absolute;
    border-radius: 5px;
    outline: none;
    top: 50px;
    border: none;
    font-size: 18px;
    padding: 4px;
    ::placeholder {
      color: silver;
    }
  }
}

.drop-item-description {
  font-size: xx-large;
  color: $text2-color;
}
