.skins-container {
  @include flex($items: flex-start);
  gap: 10px;
  @include no-select;

  .selected-skin {
    width: 295px;
    height: 295px;
    background: url("/images/selected-skin.png");
    @include flex;

    img {
      width: 192px;
    }
  }

  .skins {
    width: 600px;
    height: 500px;
    @include flex($dir: column);
    gap: 10px;
    padding: 10px;
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 15px;

    .title {
      width: 137px;
      height: 39px;
    }

    .list {
      overflow-y: scroll;
      @include scroll-bar(#252525);
      @include flex($wrap: wrap);
      gap: 10px;

      .skin-option {
        cursor: pointer;
        border-radius: 5px;
        width: 146px;
        height: 146px;
        @include flex;
        background: url(/images/skin-bg.png);

        &-img {
          width: 138px;
        }

        &.selected {
          background: url(/images/skin-selected-bg.png);
        }
      }
    }
  }
}
