.skin {
  position: absolute;
  left: 0;
  top: 200px;
  padding: 15px;
  color: $text2-color;
  @include flex($dir: column);
  gap: 15px;
  @include window-bg-colored;
  transition: all 0.2s;
  cursor: pointer;

  @include active-transform;

  .title {
    font-size: larger;
    letter-spacing: 0.5px;
  }

  .current-skin {
    width: 120px;
  }
}

.skins {
  width: 500px;
  height: 300px;

  overflow-y: scroll;
  @include scroll-bar(#252525);
  @include flex($wrap: wrap);
  gap: 10px;

  .skin-option {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    &-img {
      width: 100px;
    }

    &.selected {
      background: $bg-effect-color;
    }
  }
}
