@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$text-color: #252525;
$text2-color: #e2e2e2;
$mini-window-bg: linear-gradient(to bottom, #49381c, #614a24);
$bg-effect-color: rgba(255, 255, 255, 0.082);
$btn-text-color: #252525;
$btn-bg-color: rgba(
  $color: #000000,
  $alpha: 0.8,
);
$dark-gradient: linear-gradient(to bottom, #252525, #313131);
$shadow1: rgba(94, 71, 35, 0.5);
$shadow2: rgba(253, 187, 65, 0.5);

@mixin main-font {
  font-family: "Bebas Neue", cursive;
  font-family: "Righteous", cursive;
}

@mixin second-font {
  font-family: "Chocolate_Cyr-Lat", cursive;
}

@mixin flex($items: center, $content: center, $dir: row, $wrap: nowrap) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  flex-flow: $dir $wrap;
}

@mixin style-button($type: basic, $size: 15px) {
  @include second-font();
  font-weight: bold;
  -webkit-text-stroke: 2px #606060; /* width and color */
  outline: none;
  padding: calc($size / 4) calc($size / 2);
  font-size: calc($size + 10px);
  cursor: pointer;
  // border-radius: calc($size / 2);
  box-shadow: 0 2px 1px rgb(39, 39, 39);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out,
    border 0.15s ease-in-out, transform 0.05s;

  &:active {
    transform: translateY(3px);
    box-shadow: 0 2px 10px rgb(39, 39, 39);
  }

  @if $type == basic {
    background: $btn-bg-color;
    color: $btn-text-color;
    border: 3px solid $btn-text-color;

    &:hover {
      color: $btn-bg-color;
    }
  } @else if $type == secondary {
    background: darken($color: $text2-color, $amount: 10);
    box-shadow: unset;
    color: $btn-text-color;
    border: 1px solid black;

    &:hover {
      border-radius: 10px;
      color: #ccc;
    }
  }
}

@mixin window-bg-colored {
  box-shadow: -2px -2px 5px $shadow1, 2px 2px 5px $shadow2;
  background: $mini-window-bg;
}

@mixin bg-effect() {
  background-color: $bg-effect-color;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 1px $bg-effect-color;
  border-radius: 10px;
}

@mixin no-select() {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin scroll-bar($color: red) {
  /* width */
  &::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 10px;
  }
}

$breakpoint-small: 600px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;

@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
  @if $size == "small" {
    @media screen and (#{$type}-width: $breakpoint-small) {
      @content;
    }
  } @else if $size == "med-small" {
    @media screen and (#{$type}-width: $breakpoint-med-small) {
      @content;
    }
  } @else if $size == "med" {
    @media screen and (#{$type}-width: $breakpoint-med) {
      @content;
    }
  } @else if $size == "large" {
    @media screen and (#{$type}-width: $breakpoint-med) {
      @content;
    }
  } @else if $size == "custom" {
    @media screen and (#{$type}-width: #{$pixels}px) {
      @content;
    }
  } @else {
    @content;
  }
}
