.crafts {
  background: $dark-gradient;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  @include flex($content: start, $dir: column);
  gap: 20px;

  .container {
    margin-top: 70px;
    overflow-y: scroll;
    @include scroll-bar(#252525);
    width: 60%;
    @include bg-effect;
    padding: 20px;
    // display: grid;
    // align-items: center;
    gap: 10px;
    @include flex($wrap: wrap);
    // grid-template-columns: repeat(auto-fill, 150px);
    @include screen(med-small) {
      width: 100%;
    }
  }
}
